//------------------------------------------------------------------------------
//  Body
//------------------------------------------------------------------------------
body {
  color: $green;
  $white: #fff;
  $grey: #ccc;
  $dark_grey: #555;
  $blue: #4f6fad;
  $pink: #ee9cb4;
  font-family: $fontSans;
  font-size: $sizeBase;
}



//------------------------------------------------------------------------------
//  Forms and Inputs
//------------------------------------------------------------------------------
form {
  position: relative;
}

footer {
  clear: both;
  width: 100%;
  text-align: center;
  font-size: 80%;
  color: #999;
}

input {
  outline: none;
  vertical-align: bottom;
}

input[type=search] {
  border: none;
  width: 100%;
}


//------------------------------------------------------------------------------
//  Headings
//------------------------------------------------------------------------------
h4 {
  margin: 24px 0 6px;
  text-transform: uppercase;
}



//------------------------------------------------------------------------------
//  HTML
//------------------------------------------------------------------------------
html {
  font-size: 14px;
  height: 100%;
  &.disable {
    overflow: hidden;
  }
}



//------------------------------------------------------------------------------
//  Image
//------------------------------------------------------------------------------
img {
  height: auto;
  width: 100%;
}





//------------------------------------------------------------------------------
//  Lists
//------------------------------------------------------------------------------
ul {
	list-style: none;
}



//------------------------------------------------------------------------------
//  Paragraph
//------------------------------------------------------------------------------
p + p {
  margin-top: 12px;
}
