// @import "compass/css3";
//
// // Font imports
//
// @import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
//
// // Color vars
//
// $white: #fff;
// $grey: #ccc;
// $dark_grey: #555;
// $blue: #4f6fad;
// $pink: #ee9cb4;
//
// // Mixins
//
// @mixin lato-book { font-family: 'Lato', sans-serif; font-weight: 300; }
// @mixin lato-reg { font-family: 'Lato', sans-serif; font-weight: 400; }
// @mixin lato-bold { font-family: 'Lato', sans-serif; font-weight: 700; }
// @mixin btn($color) {
//   background-color: $color;
//   border-bottom-color: darken($color, 15%);
//   &:hover {
//       background-color: lighten($color, 5%);
//     }
// }
//
// // Functions
//
// @function pxtoem($target, $context){
//   @return ($target/$context)+0em;
// }

//

.container {
  max-width: 510px;
  min-width: 324px;
  margin: 50px auto 0px;
  background-color: white;
  // border: 1px solid lighten($grey, 1%);
  // border-bottom: 3px solid $grey;
}
.row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
  &.header {
    padding: 1.5em 2.5em;
    // border-bottom: 1px solid $grey;
    background: url(https://images2.imgbox.com/a5/2e/m3lRbCCA_o.jpg) left -80px;
    color: white;
  }
  &.body {
    padding: .5em 2.5em 1em;
  }
}
.pull-right {
  float: right;
}
h1 {
  display: inline-block;
  font-weight: 100;
  font-size: pxtoem(45, 16);
  border-bottom: 1px solid hsla(100%, 100%, 100%, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}
h3 {
  font-size: pxtoem(20, 16);
  margin: 1em 0 0.4em 0;
}
.btn {
  display: inline-block;
  padding: 0.74em 1.5em;
  margin: 1.5em 0 0;
  color: white;
  border-width: 0 0 0 0;
  border-bottom: 5px solid;
  text-transform: uppercase;
  // @include btn(darken($grey, 10%));
  &.btn-submit {
    // @include btn($blue);
  }
}

form {
  max-width: 100%;
  display: block;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0 0 0.25em 0;
      clear: both;
      display: inline-block;
      width: 100%;
      &:last-child {
          margin: 0;
        }
        p {
          margin: 0;
          padding: 0;
          float: left;
          &.right {
            float: right;
          }
        }
        .divider {
          margin: 0.5em 0 0.5em 0;
          border: 0;
          height: 1px;
          width: 100%;
          display: block;
          // background-color: $blue;
          // background-image: linear-gradient(to right, $pink, $blue);
        }
        .req {
          // color: $pink;
        }
    }
  }
  label {
    display: block;
    margin: 0 0 0.5em 0;
    // color: $blue;
    font-size: pxtoem(16, 16);
  }
  input {
    // border: 1px solid $grey;
    padding: 6px 10px;
    // color: $dark_grey;
    font-size: pxtoem(16, 16);
  }
  textarea {
    // border: 1px solid $grey;
    padding: 6px 10px;
    width: 100%;
    // color: $dark_grey;
  }
  small {
    // color: $blue;
    margin: 0 0 0 0.5em;
  }
}

// Media Queries

@media only screen and (max-width:480px) {
  .pull-right {
    float: none;
  }
  input {
    width: 100%;
  }
  label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }
  li, p {
   width: 100%;
  }
  input.btn {
   margin: 1.5em 0 0.5em;
  }
  h1 {
   font-size: pxtoem(36, 16);
  }
  h3 {
    font-size: pxtoem(18, 16)
  }
  li small {
   display: none;
  }
}

// Navigation
.nimg {
  nav & {
    display: inline-block;
    height: 60px;
    vertical-align: middle;
    @include responsive(truman) {
      margin-right: 20px;
      width: auto;
    }
  }
}
.nprofile{
  width:200px;     
  height:300px; 
  
}

.nnavicon {
  display: inline-block;
  margin-right: 0px;
  text-align: right;
  vertical-align: bottom;
  @include responsive(truman) {
    display: none;
  }
}

.obey-height {  // only use on img elements
  height: 100%;
  width: auto;
}

.navitems {
  background: rgba(0, 0, 0, 0.7);
  display: inline-block;
  height: 100vh;
  left: -200%;
  padding: 24px 0 0 5%;
  position: absolute;
  top: 0;
  transition: left 400ms ease-in-out;
  width: 100vw;
  &.active {
    left: calc(-5% - 2px);
  }
}

li {
  .navitems & {
    color: white;
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
    @include responsive(truman) {
      display: inline-block;
      margin: 0 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &:hover {
      color: crimson;
      padding-left: 5px;
      @include responsive(truman) {
        padding-left: 0;
      }
    }
  }
}

.nnavs {
  font-size: 17px;
  padding: 17px 0;
  position: relative;
  transition: all 800ms ease-in-out;
  @include responsive(truman) {
    display: inline-block;
    float: right;
  }
}



// Search
.search-container {
  border: 1px solid rgba(0,0,0,0.2);
  display: inline-block;
  vertical-align: bottom;
}

button {
  .search-container & {
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);

  }
}

// Menu
.menu > li > a {
    padding: 0.2rem .4rem;
    line-height: 1;
}
.menu.icon-top > li > a i {
  margin: 0 auto;
}

.menu i{
  font-size: 2rem;

}
.menu a span{
  font-size: 0.875rem;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


body {
  background: #91e0af;
  color: dodgerblue;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Lato', Arial, sans-serif;
  margin:0;
  padding:0;
  padding-bottom:60px;
}

.header {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

html,body{
  height:100%
  ;
}

.contactpage {
  font-family: $fontSans;
}

#container{
  min-height: 100%;
}

#main{
  overflow:auto;
  padding-bottom: 100px;
}
