

// Navigation
.navlinks {
  overflow: hidden;
  background-color: #e9e9e9;
}

a {
  .navlinks & {
    color: black;
    display: block;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: #ddd;
      color: black;
    }
    &.active {
      background-color: #2196F3;
      color: white;
    }
    // check to see if this syntax works
    @media screen and (max-width: 600px) {
      float: none;
      text-align: left;
      width: 100%;
    }
  }
}
.navcontainer {
  margin-left: 50%;
  transition: all 500ms ease-in-out;
  &.active {
    margin-left: 0;
  }
  @include responsive(truman) {
    display: block;
    margin-left: 0;
  }
}

.navicon {  
  position: fixed;
  right: 5%;  
  top: 32px;
  z-index: 50;
  @include responsive(truman) {
    display: none;
  }
}

navitems {  //c005
  background: white;
  height: 2000px;
  padding: 80px 0 0 26px;
  position: fixed;
  right: -300px;
  top: 0;
  transition: right 0.6s ease-in-out;
  width: 180px;
  z-index: 40;
  @include responsive(truman) {
    background: none;
    display: inline-block;
    height: auto;
    padding: 0;
    position: static;
    text-align: right;
    width: calc(80% - 2px);
  }
  &.active {
    right: 0;
  }
}

li {
  .navitems & {
    color: inherit;
    cursor: pointer;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
    @include responsive(truman) {
      display: inline-block;
      margin: 0 20px;
      &:last-of-type {
        margin-right: 0;
      }
    }
    &:hover {
      color: crimson;
      padding-left: 5px;
      @include responsive(truman) {
        padding-left: 0;
      }
    }
  }
}




// Search
.search-container {
  border: 1px solid #999;
  margin: 18px 0;
  padding: 6px;
}

button {
  .search-container & {
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    outline: none;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
}

footer { 
    display: block;
}


// Menu
.menu > li > a {
    padding: 0.2rem .4rem;
    line-height: 1;
}
.menu.icon-top > li > a i {
  margin: 0 auto;
}

.menu i{
  font-size: 2rem;

}
.menu a span{
  font-size: 0.875rem;
}
