// BASE ELEMENTS
* {
  margin: 0;
  padding: 0;
}

body {
  color: green;
}

form {
  position: relative;
}

img {
  height: auto;
  width: 100%;
}

input {
  outline: none;
}

ul {
	list-style: none;
}

// LAYOUTS
.y-wrap {
  margin: 0 auto;
  width: 90%;
}

// MODULES
.navlinks {
  overflow: hidden;
  background-color: #e9e9e9;
}

a {
  .navlinks & {
    color: black;
    display: block;
    float: left;
    font-size: 17px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    &:hover {
      background-color: #ddd;
      color: black;
    }
    &.active {
      background-color: #2196F3;
      color: white;
    }
    // check to see if this syntax works
    @media screen and (max-width: 600px) {
      float: none;
      text-align: left;
      width: 100%;
    }
  }
}
.navwrap{
  .navwrap {
  @include responsive(truman) {  //c011
    background: white;
    border-bottom: 1px solid #aaa;
    border-top: 8px solid #aaa;
    left: 0;
    margin: 0 0 24px;
    position: fixed;
    top: 0;
    padding: 16px 0;
    width: 100%;
    z-index: 20;
    &:after {  //c008, c012
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      bottom: -13px;
      content: '';
      height: 12px;
      position: absolute;
      width: 100%;
    }
  }
}




.menu > li > a {
    padding: 0.2rem .4rem;
    line-height: 1;
}
.menu.icon-top > li > a i {
  margin: 0 auto;
}
$burger--thickness: 4px;
.mobileicon {
  $width: 28px;
  background: none;
  border: 0;
  border-bottom: $burger--thickness solid currentColor;
  cursor: pointer;
  outline: 0;
  padding: 0;
  transition: border-bottom 1s ease-in-out;
  -webkit-transition: border-bottom 1s ease-in-out;
  width: $width;

  // Fix for extra space in Firefox
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &.active {
    border-bottom: 4px solid transparent;
    &:before {
      transform: rotate(-405deg) translateY(1px) translateX(-3px);
      -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
    }
    &:after {
      transform: rotate(405deg) translateY(-4px) translateX(-5px);
      -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
    }
  }

  &:before {
    content: "";
    display: block;
    border-bottom: $burger--thickness solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }

  &:after {
    content: "";
    display: block;
    border-bottom: $burger--thickness solid currentColor;
    width: 100%;
    margin-bottom: 5px;
    transition: transform 0.5s ease-in-out;
    -webkit-transition: -webkit-transform 0.5s ease-in-out;
  }
}


.menu i{
  font-size: 2rem;
  
}
.menu a span{
  font-size: 0.875rem;
}

.search-container {
  border: 1px solid #999;
  margin: 18px 0;
  padding: 6px;
}

button {
  .search-container & {
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    outline: none;
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
}

input[type=search] {
  border: none;
  font-size: 17px;
  width: 100%;
}

/*@media screen and (min-width: 600px) {
  .search-container {
    float: none;
  }
  input[type=text], .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  input[type=text] {
    border: 1px solid #ccc;  
  }
}*/








